@page
@model TennisBooking.Pages.Lanes.EditPageModel
@{
    ViewData["Title"] = "EditPage";
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
           
            <div class="form-group">
                <label asp-for="@Model.Lanes.BaneNummer" class="control-label"></label>
                <input asp-for="@Model.Lanes.BaneNummer" class="form-control" readonly=""/>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Lanes.Type" class="control-label"></label>
                <input asp-for="@Model.Lanes.Type" class="form-control" required=""/>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>