@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    

<body>

<div class="text-center">
    <h1 class="display-4">Velkommen Til GadeVang Tennisklub</h1>
    <p>
        Her kan du se det seneste nyheder omkring klubben
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

</body>
